.add_work-modal_active {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.post_modal-body {
    width: 600px;
    max-height: 90vh;
    padding: 24px 50px;
    background-color: #fff;
    border-radius: 16px;
    overflow-y: scroll;
}

.post_modal-body_container {}

.post_modal-body::-webkit-scrollbar {
    display: none;
}

.post_modal-body_text {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -.02em;
    color: #000;
}

.post_modal-body_desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    transform: scale(1);
    margin: 8px 0 0;
}

.post_modal-body_form-field {
    margin: 24px 0 0;
}

.post_modal-body_form-field:nth-child(1) {
    margin: 0;
}

.post_modal-body_form-text {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}

.post_modal-body_form {
    margin: 32px 0 0;
}

.post_modal-body_form-text span {
    color: #0000004d;
}

.post_modal-body_form-counter {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}

.form-field_input {
    margin: 8px 0 0;
    border-radius: 8px;
    background-color: #f0f0f0;
    width: 100%;
    padding: 20px;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000b3;
    outline: none;
}

.form-field_input::placeholder {
    font-weight: 400;
    font-size: 14px;
}

.form-counter_err {
    width: 16px;
    height: 16px;
    margin: 0 0 0 4px;
}

.form-field_tags {
    flex-wrap: wrap;
    width: 100%;
    margin: 8px 0 0;
}

.form-field_tags-item {
    padding: 4px 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
    margin: 0 4px 4px 0;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -.02em;
    text-transform: uppercase;
    color: #2e2e2e;
    cursor: pointer;
}

.activeTag {
    background: #2E2E2E;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 2px 2px 2px 8px;
}

.form-field_tags-item_close {
    width: 16px;
    height: 16px;
    margin: 0 0 0 4px;
}

.form-field_tags-item_close svg {
    max-width: 100%;
}

.post_modal-body_btn {
    margin: 8px 0 0;
}

.post_modal-body_btn_cancel {
    width: 50%;
    border-radius: 8px;
    cursor: pointer;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-color: #f0f0f0;
    color: #000;
    margin-right: 4px;
    border: none;
}

.post_modal-body_btn_draft {
    width: 50%;
    background-color: #2e2e2e;
    color: #fff;
    flex-shrink: 0;
    border-radius: 8px;
    cursor: pointer;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.post_modal-body_btn_send {
    background: linear-gradient(90deg, #7000FF 0%, #0500FF 100%);
    color: #fff;
    margin-left: 4px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border: none;
}

.editor-field {
    margin-top: 8px;
    border-radius: 8px;
    background-color: #f0f0f0;
    width: 100%;
    padding: 20px;
    border: 0;
    resize: none;
    height: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000b3;
}

.codex-editor__redactor {
    padding-bottom: 50px !important;
}