.postsBody {
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    grid-gap: 10px 10px;
    gap: 10px;
}

.add_post {
    height: 200px;
    padding: 20px;
    background: rgba(255, 255, 255, .1);
    border: 1px dashed rgba(255, 255, 255, .4);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add_post-tip {
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 4px 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: inline-flex;
    align-items: center;
    color: #181818;
}

.add_post-tip svg {
    margin: 0 4px;
}

.add_post-text {
    width: 217px;
    margin: 4px 0 0;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.add_post-img {
    width: 41px;
    height: 41px;
    margin: 15px 0 0;
    cursor: pointer;
}

.post {
    position: relative;
    height: 200px;
    padding: 15px;
    background-color: rgb(51, 51, 51);
    border-radius: 8px;
}

.post_checked {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 9%, rgba(253, 55, 29, 1) 100%);
}

.post a {
    height: 100%;
    color: white;
}

.post_info_author {
    height: 40px;
    margin: 0 4px 0 0;
}

.post_info_author-img {
    max-height: 100%;
}

.post_info_type {
    height: 40px;
    margin: 0 16px 0 0;
}

.post_info_type svg {
    max-height: 100%;
}

.post_info_date {
    font-size: 12px;
    font-weight: 500;
    color: #fff6;
}

.post_info_date p {
    margin: 0;
}

.post_info_blocked {
    height: 15px;
}

.post_info_blocked svg {
    max-height: 100%;
}

.post_close {
    width: 16px;
    height: 16px;
}

.post_text {
    margin: 16px 0 0;
}

.post_title {
    max-height: 63px;
    overflow: hidden;
    margin: 0 0 16px;
    font-size: 18px;
    font-weight: 700;
}

.post_previewText {
    margin: 0;
    height: 36px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
}

.post_tags {
    font-size: 12px;
    font-weight: 700;
    margin: 10px 0 0;
}

.post_actions {
    position: absolute;
    right: 15px;
    top: 15px;
}

.post_actions-check {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 0 0 4px;
}

.post_actions-favorite {
    width: 40px;
    height: 40px;
    cursor: pointer;
}