.works-body {
    width: 100%;
    min-height: 100vh;
    padding: 8px;
    margin: 0 0 0 56px;
    background-color: #000;
}

.post_info_author {
    height: 40px;
    margin: 0 4px 0 0;
}

.post_info_author-img {
    max-height: 100%;
}

.works-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    grid-gap: 10px 10px;
    gap: 10px;
}

.works-item {
    position: relative;
    padding: 50%;
    cursor: pointer;
}

.works-item_img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
}

.post-preview_date p {
    margin: 0;
}

.post-preview-title {
    display: block;
    margin-top: 35px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -.03em;
    color: #000;
}