.profile_preview {
    position: fixed;
    width: 290px;
    height: 100vh;
    padding: 24px;
    margin: 0 0 0 56px;
    border-right: 1px solid #3A3A3A;
}

.profile_preview-img {
    width: 64px;
    margin: 0 auto;
}

.profile_preview-img img {
    max-width: 100%;
}

.profile_preview-name_text {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -.04em;
    color: #fff;
    margin: 8px 0 4px;
    text-align: center;
}

.profile_preview-name_desc {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    margin: 0;
    text-align: center
}

.profile_preview-tabs {
    margin: 24px 0 0;
}

.profile_preview-tabs_item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.tabs_item_active {
    color: #000;
    font-weight: 500;
    border-radius: 30px;
    background: #FFFFFF;
    cursor: default;
}

.profile_preview-card {
    margin: 24px 0 0;
    background: rgba(255, 255, 255, .1);
    border: 2px dashed #fff;
    padding: 20px;
    height: 350px;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.profile_preview-card_text {
    margin: 16px 0;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -.02em;
    color: #fff;
}

.card_text-tip {
    margin: 0 0 20px;
}

.profile_preview-data {
    margin-top: 24px;
}

.profile_preview-data_box {
    width: 50%;
    margin-bottom: 4px;
}

.profile_preview-data_item {
    width: 100%;
    padding: 16px;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.profile_preview-data_box:nth-child(2n+1) {
    padding-right: 4px;
}

.data_item-img {
    flex-shrink: 0;
    background: #7000FF;
    box-shadow: 0 8px 16px #7000ff4d;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}

.data_item-number {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -.04em;
    color: #7000ff;
}

.profile_preview-data_item-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #7000ff;
    opacity: .6;
    margin: 4px 0 0;
}

.profile_preview-link {
    width: 40px;
    cursor: pointer;
}

.profile_preview-link svg {
    max-width: 100%;
}

.profile_info {
    width: 100%;
    height: 100vh;
    padding: 24px;
    margin: 0 0 0 346px;
}

.profile_info-nav ul {
    margin: 0 0 32px 0;
    padding: 0;
}

.profile_info-nav ul li:nth-child(1),
.profile_info-nav ul li:nth-child(2) {
    margin: 0 15px 0 0;
}

.profile_info-nav-paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}

.paragraph_active {
    color: #000;
    background-color: #fff;
    cursor: default;
}

.info-yourData_block {
    width: 330px;
    margin: 0 15px 0 0;
}

.info-yourData_block_item {
    margin: 24px 0 0;
}

.info-yourData_block_item:nth-child(1) {
    margin-top: 0;
}

.item-texts {
    margin: 0 0 8px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.item-input {
    width: 100%;
    height: 53px;
    border: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, .15);
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    color: #fff;
}

.field_show {
    margin-top: 8px;
    cursor: pointer;
}

.field_show-box {
    width: 16px;
    height: 16px;
    background-color: #262626;
    border-radius: 2px;
    margin-right: 8px;
    flex-shrink: 0;
}

.field_show-box svg {
    width: 100%;
}

.field_show-text {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.info-yourData_block_item-aboutYou {
    width: 100%;
    height: 108px;
    resize: none;
    border: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, .15);
    padding: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    color: #fff;
}

.info-yourData_save {
    width: 100%;
    height: 53px;
    margin: 24px 0 0;
    background: linear-gradient(90deg, #7000FF 0%, #0500FF 100%);
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    cursor: pointer;
}

.profile-body {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    grid-gap: 40px;
    gap: 10px;
    display: grid !important;
    padding: 0;
}

.profile-body_item {
    width: 300px;
    height: 300px;
    border: 2px dashed #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.profile-body_item-text {
    width: 167px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px
}

.profile-body_item-img {
    width: 41px;
    cursor: pointer;
}

.profile-body_item-img img {
    max-width: 100%;
}

.satellites-body {
    display: grid;
    width: 100%;
    grid-gap: 8px 8px;
    grid-template-columns: repeat(auto-fill, minmax(332px, .5fr));
    grid-auto-rows: max-content;
}

.satellites-body_material-draft {
    height: 200px;
    padding: 16px;
    border-radius: 8px;
    background: #333333;
    position: relative;
}

.material-info_img {
    width: 40px;
}

.material-info_img img {
    max-width: 100%;
}

.material-info_edit {
    width: 15px;
}

.material-info_edit svg {
    max-width: 100%;
}

.material-text {
    margin: 16px 0 0;
}

.material-text_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -.03em;
    color: #fff;
    max-height: 44px;
    overflow: hidden;
    z-index: 10;
}

.material-text_desc {
    font-weight: 500;
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
    color: #fff9;
    max-height: 51px;
    overflow: hidden;
    z-index: 10;
}

.satellites-body_material-draft:hover>.material-blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.material-blur {
    display: none;
}

.material-blur_action {
    width: 40px;
    cursor: pointer;
}

.material-blur_action svg {
    max-width: 100%;
}

.blur_action-margin_fix {
    margin: 0 0 0 8px;
}