@media (max-width: 1600px) {
    .single_post {
        width: 1000px;
    }
    .single_post-body {
        width: 600px;
    }
    .additional-post_content {
        margin: 50px 0 0;
    }
    .single_post-content_title {
        font-size: 28px;
    }
    .single_post-notes_title {
        font-size: 22px;
    }
}

@media (max-width: 1300px) {
    .single_post-body {
        padding-right: 0;
    }
    .single_post-content_title{
        font-size: 22px;
    }
}

@media (max-width: 1150px) {
    .single_post {
        width: 560px;
    }
    .single_post-body {
        width: 476px;
    }
}

@media (max-width: 1150px) {
    .single_post {
        width: 560px;
    }
    .single_post-body {
        width: 476px;
        padding: 80px 0 0 24px;
    }
    .single_post-side_bar {
        padding: 80px 0 0;
    }
}

@media (max-width: 1000px) {
    .post-body {
        margin-left: 0;
    }
    .single_post {
        width: 460px;
    }
    .single_post-body {
        width: 400px;
        padding: 80px 0 0 24px;
    }
    .postPrew {
        left: 25px;
    }
}

@media (max-width: 620px) {
    .single_post-body {
        padding: 80px 0 0;
    }
}

@media (max-width: 600px) {
    .single_post {
        width: 100%;
    }
    .single_post-body {
        width: 100%;
    }
    .single_post-content_title{
        font-size: 22px;
    }
}
@media (max-width: 540px) {
    .single_post-body {
        width: 420px;
    }
}
@media (max-width: 480px) {
    .single_post-body {
        width: 370px;
    }
}
@media (max-width: 450px) {
    .single_post-body {
        width: 340px;
    }
}
@media (max-width: 360px) {
    .single_post-body {
        width: 300px;
    }
}