.single_post {
    width: 1130px;
    margin: 0 auto;
    padding: 50px 0 0;
}

.single_post-body {
    width: 730px;
    min-height: 100vh;
    padding: 0 24px;
    flex-shrink: 0;
}

.single_post-content_title {
    margin: 0 0 24px;
    font-size: 32px;
    font-weight: 700;
    color: black;
}

.single_post-content_main_text {
    font-size: 16px;
}

.postPrew {
    position: relative;
    align-self: center;
    z-index: 10;
    width: 40px;
    height: 40px;
    margin: 0 0 0 40px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.postPrew::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: auto 17px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    transform: rotate(140deg);
}

.postNext {
    position: relative;
    z-index: 10;
    align-self: center;
    width: 40px;
    height: 40px;
    margin: 0 40px 0 0;
    flex-shrink: 0;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.postNext::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: auto 13px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    transform: rotate(-43deg);
}

.additional-post_content {
    margin: 80px 0 0;
}