.single_post-body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.single_post-content{
  width: 552px;
}
.single_post-content_title{
  font-size: 28px;
  font-weight: 600;
  color: black;
}
.single_post-content_main_text{
  font-size: 16px;
}