@media (max-width: 1600px) {
    .content-work_box-item {
        width: 175px;
        height: 175px;
    }
}

@media (max-width: 1450px) {
    .content-work_box-item {
        width: 227px;
        height: 227px;
    }
}

@media (max-width: 1300px) {
    .content-work_box-item {
        width: 183px;
        height: 183px;
    }
}

@media (max-width: 1150px) {
    .content-work_box-item {
        width: 229px;
        height: 229px;
    }
}

@media (max-width: 1000px) {
    .content-work_box-item {
        width: 179px;
        height: 179px;
    }
}

@media (max-width: 620px) {
    .content-work_box-item {
        width: 196px;
        height: 196px;
    }
}

@media (max-width: 600px) {
    .content-work_box-item {
        width: 232px;
        height: 232px;
    }
}

@media (max-width: 540px) {
    .content-work_box-item {
        width: 206px;
        height: 206px;
    }
}

@media (max-width: 480px) {
    .content-work_box-item {
        width: 181px;
        height: 181px;
    }
}

@media (max-width: 450px) {
    .content-work_box-item {
        width: 166px;
        height: 166px;
    }
}

@media (max-width: 360px) {
    .content-work_box-item {
        width: 136px;
        height: 136px;
    }
}