.content-work_box_add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff !important;
    border: 2px dashed #000;
    cursor: pointer;
}

.content-work_box-item {
    width: 218px;
    height: 218px;
    background: #D9D9D9;
    border-radius: 8px;
    margin: 4px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.additional-post_content-more_work {
    width: 100%;
    margin-top: 8px;
    height: 47px;
    background: #000000;
    border-radius: 8px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.work_add-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000;
    padding: 0 15px;
}

.work_add-button {
    width: 40px;
    height: 40px;
}