@media (max-width: 1600px) {
    .single_post {
        width: 1000px;
    }
    .single_post-body {
        width: 600px;
    }
    .additional-post_content {
        margin: 50px 0 0;
    }
    .single_post-content_title {
        font-size: 28px;
    }
    .single_post-notes_title {
        font-size: 22px;
    }
}

@media (max-width: 1300px) {
    .single_post-body {
        padding-right: 0;
    }
    .single_post-content_title {
        font-size: 22px;
    }
}

@media (max-width: 1150px) {
    .single_post {
        width: 560px;
    }
    .single_post-body {
        width: 500px;
        padding: 80px 0 0 24px;
    }
    .single_post-side_bar {
        padding: 80px 0 0;
    }
}

@media (max-width: 1000px) {
    .post-body {
        margin-left: 0;
    }
    .single_post {
        width: 460px;
    }
    .single_post-body {
        width: 408px;
        padding: 80px 0 0 24px;
    }
    .postPrew {
        left: 25px;
    }
}

@media (max-width: 620px) {
    .single_post {
        position: relative;
        display: block !important;
    }
    .single_post-body {
        padding: 80px 0 0;
        margin: 0 auto 120px;
    }
    .single_post-side_bar-mobil {
        position: fixed;
        bottom: 10px;
        left: 0;
        right: 0;
        z-index: 20;
    }
    .single_post-side_bar-mobil_inner {
        position: relative;
        padding: 8px 10px;
        background: #fff;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
    }
    .sidebar-mobil_inner-item {
        margin: 0 4px;
        width: 60px;
        height: 60px;
        cursor: pointer;
    }
    .sidebar-mobil_inner-moreAction {
        position: absolute;
        bottom: 80px;
    }
    .sidebar-mobil_inner-moreAction div svg {
        height: 60px;
        width: 60px;
        filter: drop-shadow(0px 0px 64px rgba(0, 0, 0, .2));
        margin-top: 5px;
    }
    .sidebar-mobil_inner-item svg {
        width: 100%;
        height: 100%;
    }
    .sidebar-mobil_inner-dorder {
        width: 1px;
        background-color: #0000001a;
        height: 24px;
        margin: 0 14px;
    }
}

@media (max-width: 600px) {
    .single_post {
        width: 480px;
    }
    .single_post-body {
        width: 100%;
    }
    .single_post-content_title {
        font-size: 22px;
    }
}

@media (max-width: 540px) {
    .single_post {
        width: 428px;
    }
}

@media (max-width: 480px) {
    .single_post {
        width: 378px;
    }
}

@media (max-width: 450px) {
    .single_post {
        width: 348px;
    }
}

@media (max-width: 360px) {
    .single_post-body {
        width: 300px;
    }
}