.post-body {
    width: 100%;
    margin-left: 56px;
}

.single_post {
    width: 1130px;
    margin: 0 auto;
}

.single_post-side_bar {
    position: relative;
    width: 60px;
    flex-shrink: 0;
    padding: 50px 0 0;
}

.single_post-side_bar-inner {
    position: fixed;
    width: 60px;
}

.post-side_bar-actions:nth-child(1) {
    margin-bottom: 24px;
}

.side_bar-inner_link {
    position: relative;
    width: 40px;
    cursor: pointer;
}

.side_bar-inner_link svg {
    max-width: 100%;
}

.side_bar_inner_link_tip {
    padding: 10px;
    position: absolute;
    background: #fff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #181818;
    z-index: 10;
    white-space: nowrap;
    right: 50px;
    top: 3px;
}

.post-side_bar-actions-title {
    margin: 0 0 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #18181866;
}

.single_post-body {
    width: 730px;
    min-height: 100vh;
    padding: 70px 24px;
    flex-shrink: 0;
}

.single_post-content {
    margin: 25px 0 0;
}

.single_post-content_title {
    margin: 0 0 24px;
    font-size: 32px;
    font-weight: 700;
    color: black;
}

.single_post-content_main_text {
    font-size: 16px;
}

.postPrew {
    position: fixed;
    top: 50%;
    left: 81px;
    z-index: 10;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.postNext {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 25px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.additional-post_content {
    margin: 80px 0 0;
}

.info_date_text-gray {
    color: #18181866;
}

.content-work_box-item_bg {
    width: 100%;
    height: 100%;
    background-image: url('https://kronadev.ru/upload/iblock/3ae/irh3xb1h2h0v6dcu6btcy9f1n7vv8ze2.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}