.users_body {
    width: 100%;
    margin: 0 0 0 56px;
    padding: 16px;
}

.stark_rating {
    width: 100%;
    margin: 0;
}

.stark_rating-text {
    margin: 0 25px 0 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -.04em;
    color: #fff;
}

.stark_rating-select {
    position: relative;
    margin: 0;
    border-radius: 15px;
    padding: 5px 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.stark_rating-select_text {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.stark_rating-select_arrow_up {
    width: 6px;
    height: 6px;
    margin: 2px 0 0 8px;
    border: solid #939393;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(225deg);
}

.stark_rating-select_arrow_down {
    width: 6px;
    height: 6px;
    margin: 0 0 2px 8px;
    border: solid #939393;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(45deg);
}

.stark_rating-selectActive_options {
    background-color: #fff;
    border-radius: 8px;
    padding: 8px 10px;
    position: absolute;
    top: 30px;
    left: 0;
    cursor: default;
}

.text_options_margin {
    margin: 4px 0 0;
}

.table-head-title {
    display: inline;
    margin: 0 0 0 -110px;
}

.users_body-table {
    width: 100%;
    margin: 30px 0 0;
    color: aliceblue;
    border-collapse: collapse;
}

.table-head-item {
    display: inline-flex;
    cursor: pointer;
}

.users_body-table thead th {
    padding: 15px 0;
    font-size: 12px;
    font-weight: 400;
    color: #939393;
}

.users_body-table thead th:nth-child(2) {
    width: 400px;
}

.users_body-table thead th:nth-child(3),
.users_body-table thead th:nth-child(4),
.users_body-table thead th:nth-child(5) {
    width: 120px;
    text-align: left;
}

.users_body-table thead th:nth-child(6) {
    text-align: left;
}

.users_body-table tbody {
    counter-reset: schetchik;
}

.users_body-table tbody tr {
    counter-increment: schetchik;
}

.users_body-table tbody tr td {
    padding: 10px 0;
}

.users_body-table tbody tr:before {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 80px;
    border-radius: 10px 0 0 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    content: counter(schetchik);
}

.users_body-table tbody tr td:last-child {
    border-radius: 0 10px 10px 0;
}

.users_body-table tbody tr:nth-child(2n+1) {
    background-color: #262626;
}

.table_account_avatar {
    display: inline-block;
    height: 70px;
}

.table_account_avatar-img {
    max-height: 100%;
}

.table_account_text {
    margin: 0 0 0 20px;
}

.table_account_text-name {
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -1px;
}

.table_account_text-which_stark {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -1px;
}

.table_star {
    width: 35px;
    height: 35px;
}

.table_star svg {
    max-width: 100%;
}

.table_star-text {
    margin: 0 0 0 5px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -1px;
}

.table_location-text {
    margin: 0 0 0 5px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
}